In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('/Users/santiagobermejo/Desktop/IRONHACK/Kaggle-competition/input/training_dataset.csv')
df = df.set_index('id')
df.head()

,0,1,2,3,4,5,6,7,8,9,author
id,,,,,,,,,,,
0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [4]:
df = df.rename(columns={'0': "intercolumnar distance",
'1': "upper margin",
'2': "lower margin",
'3': "exploitation",
'4': "row number",
'5': "modular ratio",
'6': "interlinear spacing",
'7': "weight",
'8': "peak number",
'9': "modular ratio/ interlinear spacing"})

In [5]:
y = df.author

In [6]:
X = df.drop(['author'], axis=1)

###### MODEL

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9613, 10)
(2404, 10)
(9613,)
(2404,)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
model = LogisticRegression()

model.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
y_pred=model.predict(X_test)
print('Accurancy', accuracy_score(y_test, y_pred))
y_pred.shape

Accurancy 0.5653078202995009

(2404,)

In [14]:
y_pred.shape

(2404,)

###### TEST

In [16]:
X1 = pd.read_csv('/Users/santiagobermejo/Desktop/IRONHACK/Kaggle-competition/input/test_dataset.csv')
X1 = X1.set_index('id')
X1.head()

,0,1,2,3,4,5,6,7,8,9
id,,,,,,,,,,
0,0.019197,0.038511,0.192950,0.323367,0.261718,-0.100360,0.106925,0.463833,0.064084,-0.025146
1,0.006853,0.462474,-0.016878,0.649795,-1.347089,-0.307984,-0.119577,0.855597,0.375899,-0.092040
2,0.229043,-0.369751,0.484575,0.250174,0.261718,-0.017310,0.446679,0.232984,-0.123005,-0.126856
3,-0.104241,-0.055704,0.299642,0.391249,0.172340,0.314889,0.106925,0.220694,0.219991,0.368972
4,1.043737,-0.401156,0.473906,0.506215,0.261718,0.065740,-0.195078,0.515440,-0.808997,0.315303

In [17]:
X1 = X1.rename(columns={'0': "intercolumnar distance",
'1': "upper margin",
'2': "lower margin",
'3': "exploitation",
'4': "row number",
'5': "modular ratio",
'6': "interlinear spacing",
'7': "weight",
'8': "peak number",
'9': "modular ratio/ interlinear spacing"})

In [18]:
X1.shape

(8012, 10)

In [21]:
author = model.predict(X1)

(8012,)

In [22]:
X1['author']=author

In [23]:
df_submmit = X1[['author']]
df_submmit

         author
id
0        Marcus
1        Marcus
2        Marcus
3        Marcus
4        Marcus
...         ...
8007     Marcus
8008  Blanquius
8009  Blanquius
8010     Marcus
8011     Marcus

[8012 rows x 1 columns]

In [24]:
df_submmit.to_csv("/Users/santiagobermejo/Desktop/IRONHACK/Kaggle-competition/input/LogisticRegression.csv")