In [2]:
import pandas as pd
firstPrueba = pd.read_csv('input/diamonds_train.csv')
firstPrueba.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276

In [6]:
price = firstPrueba.price

print(price.describe())
price.shape

count    40345.000000
mean      3931.902243
std       3994.318832
min        326.000000
25%        952.000000
50%       2397.000000
75%       5317.000000
max      18823.000000
Name: price, dtype: float64

(40345,)

In [43]:
import random
lst = []
for i,element in enumerate(range(13449)):
    lst.append((i,random.randint(952, 5317)))

In [38]:
df = pd.DataFrame(lst)
df.drop([0], axis=1, inplace=True)

In [39]:
df = df.rename(columns={1:'price'})

In [40]:
df.index.name='id'

In [41]:
df

       price
id
0        967
1       5139
2       4664
3       1865
4       2716
...      ...
13444   1240
13445   3169
13446   1857
13447   1524
13448   1892

[13449 rows x 1 columns]

In [42]:
df.to_csv('Shame.csv')